<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/api.js" type="module"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/handlers.js" type="module" ></script>
    <title>Home</title>

</head>
<body>
    <header> <h1>Nti Personal</h1></header>
    <main>
        <employee-cards></employee-cards>
        <hr class="footer-line"/>
        <new-employee-form></new-employee-form>
    </main>
    
</body>
</html>