*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    padding: 20px;
    margin-top: 60px;
}

#root{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    
}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    background-color: rgba(22,22,22,0.4);
    border-bottom: 3px solid rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 1.8em;
    font-weight: 500;
    
}

.footer-line {
    height: 3px;
    background-color: rgba(22,22,22,0.4);
    margin-top: 30px;
    margin-bottom: 30px;
}

.new-employee-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.new-employee-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.new-employee-form form {
    display: flex;
    flex-direction: column;
}

.new-employee-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.new-employee-form input[type="text"],
.new-employee-form input[type="email"],
.new-employee-form input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.new-employee-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.new-employee-form input[type="submit"]:hover {
    background-color: #0056b3;
}   
